<mat-card [formGroup]="formTrips" *ngIf="!loading" class="mat-card-trips mat-elevation-z8">

    <!-- Origen -->
    <mat-form-field appearance="legacy" class="input-form">
      <mat-label> Origen: </mat-label>
      <input matInput formControlName="departure">
      <ng-container *ngIf="fc.departure.invalid &&(fc.departure.dirty || fc.departure.touched)">
        <mat-error *ngIf="fc.departure.errors?.required">
          Este campo es requerido.
        </mat-error>
      </ng-container>
    </mat-form-field>
  
    <!-- Destino -->
    <mat-form-field appearance="legacy" class="input-form">
      <mat-label> Destino: </mat-label>
      <input matInput formControlName="destination">
      <ng-container *ngIf="fc.destination.invalid &&(fc.destination.dirty || fc.destination.touched)">
        <mat-error *ngIf="fc.destination.errors?.required">
          Este campo es requerido.
        </mat-error>
      </ng-container>
    </mat-form-field>
  
     <!-- Colectivo -->
     <mat-form-field appearance="legacy" class="select-form">
      <mat-label> Colectivo </mat-label>
        <mat-select formControlName="bus">
          <mat-option *ngFor="let b of buses" [value]= "b.licensePlate" >
            {{b.licensePlate}} 
          </mat-option>
        </mat-select>
        <ng-container *ngIf="fc.bus.invalid &&(fc.bus.dirty || fc.bus.touched)">
          <mat-error *ngIf="fc.bus.errors?.required">
            Este campo es requerido.
          </mat-error>
      </ng-container>
    </mat-form-field>
  
    <!-- Pasajeros -->
    <mat-form-field appearance="legacy" class="select-form">
      <mat-label> Pasajeros </mat-label>
        <mat-select formControlName="passenger" [compareWith]="compare" multiple>
          <mat-option *ngFor="let p of passengers" [value]= "p">
            {{p.showName()}} 
          </mat-option>
        </mat-select>
        <ng-container *ngIf="fc.passenger.invalid &&(fc.passenger.dirty || fc.passenger.touched)">
          <mat-error *ngIf="fc.passenger.errors?.required">
            Este campo es requerido.
          </mat-error>
      </ng-container>
    </mat-form-field>
  
    <!-- Fecha de salida -->
  <mat-form-field appearance="legacy" class="select-form">
    <mat-label> Fecha de salida </mat-label>
    <input matInput [matDatepicker]="picker1" formControlName="startDate">
    <ng-container *ngIf="fc.startDate.invalid &&(fc.startDate.dirty || fc.startDate.touched)">
      <mat-error *ngIf="fc.startDate.errors?.required">
        Este campo es requerido.
      </mat-error>
    </ng-container>
    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>
  </mat-form-field>

   <!-- Hora de salida -->
   <mat-form-field appearance="legacy" class="input-form">
    <mat-label> Hora de salida: </mat-label>
    <input matInput formControlName="startTime" type="time">
    <ng-container *ngIf="fc.startTime.invalid &&(fc.startTime.dirty || fc.startTime.touched)">
      <mat-error *ngIf="fc.startTime.errors?.required">
        Este campo es requerido.
      </mat-error>
    </ng-container>
  </mat-form-field>
  
  <!-- Fecha de llegada -->
  <mat-form-field appearance="legacy" class="select-form">
    <mat-label> Fecha de llegada </mat-label>
    <input matInput [matDatepicker]="picker2" formControlName="endDate">
    <ng-container *ngIf="fc.endDate.invalid &&(fc.endDate.dirty || fc.endDate.touched)">
      <mat-error *ngIf="fc.endDate.errors?.required">
        Este campo es requerido.
      </mat-error>
    </ng-container>
    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
    <mat-datepicker #picker2></mat-datepicker>
  </mat-form-field>

  <!-- Hora de llegada -->
  <mat-form-field appearance="legacy" class="input-form">
    <mat-label> Hora de llegada: </mat-label>
    <input matInput formControlName="endTime" type="time">
    <ng-container *ngIf="fc.endTime.invalid &&(fc.endTime.dirty || fc.endTime.touched)">
      <mat-error *ngIf="fc.endTime.errors?.required">
        Este campo es requerido.
      </mat-error>
    </ng-container>
  </mat-form-field>
  
    <div>
      <button mat-button (click)="goToBack()"> Volver </button>
      <button mat-button color="primary" (click)="save()"
              [disabled]="formTrips.invalid || loading"> Guardar </button>
    </div>
  </mat-card>
  <mat-spinner *ngIf="loading" style="margin: 0px auto"></mat-spinner>